body {
    background: #dbdee0;
}

.overlay {
    padding: 22px;
    max-width: 1024px;
    height: 768px;
    margin: 30px auto;
    background: #f0f3f6;
}

header {
    font-size: 22px;
    color: #8499a7;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}

header span {
    color: #21b8c6;
}


/*.masonry-gallery, .grid{height: 630px !important;overflow: hidden;overflow-x: visible;}*/

.grid-sizer,
.grid-item {
    width: 236px;
    overflow: hidden;
}

.grid-item {
    float: left;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 0 10px 2px rgba(194, 205, 216, .5)
}

.width {
    width: 482px;
    height: 200px;
}

.long {
    height: 410px;
}

.grid-item img,
.white-popup figure img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.add {
    background: #fff;
}

.add {
    background: #fff;
    width: 100%;
    height: 100%;
}

.grid-item section {
    width: 100%;
    height: 100%;
    display: block;
}

.grid-item section figure {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-item figcaption {
    position: absolute;
    bottom: -60px;
    height: 60px;
    width: 100%;
    background: #f3f3f3;
    transition: .5s;
    padding: 18px 12px;
}

.grid-item:hover figcaption {
    bottom: 0;
}


/*
.masonry-gallery,
.grid,
*/

.masonry-gallery {
    overflow-x: auto;
    overflow-y: hidden;
    height: 670px;
    display: block
}

.grid {
    height: 670px;
}

.masonry-gallery::-webkit-scrollbar-track {
    background-color: #d1dae3;
    border-radius: 10px;
}

.masonry-gallery::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
    height: 10px
}

.masonry-gallery::-webkit-scrollbar-thumb {
    background-color: #21b8c6;
    border-radius: 10px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative
}

.sprite span {
    width: 15px;
    height: 15px;
    border: 2px solid #a0b0ba;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    background: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    color: #0d7f8a;
    font-style: normal;
    font-weight: 800;
}

.sprite span:empty {
    display: none;
}

.comment {
    width: 26px;
    height: 25px;
    background-position: -5px -5px;
}

.dislike {
    width: 26px;
    height: 24px;
    background-position: -41px -5px;
    float: right
}

.like {
    width: 26px;
    height: 24px;
    background-position: -41px -39px;
    float: right;
    margin-left: 25px;
}

.add input {
    display: none
}

.add label {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    text-align: center;
    display: flex;
    text-align: center;
    display: flex;
    align-content: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    background: #21b8c6;
    display: inline-block;
    border-radius: 50%;
    margin-top: 40px;
    font-size: 44px;
    font-weight: 900;
    line-height: 43px;
    vertical-align: middle;
    color: #fff;
    box-shadow: 0 2px 3px rgba(160, 176, 186, 0.6);
    transition: .5s;
}

.add:hover .circle {
    box-shadow: -5px 3px 3px rgba(160, 176, 186, 0.6);
}

.circle+span {
    color: #a0b0ba;
    font-size: 14px;
    line-height: 1.3;
    display: inline-block;
    margin-top: 10px
}


/*
.grid{transform: rotate(90deg)}
.grid-item{transform: rotate(270deg);height:1024px !important;}*/

.comments-area {
    height: 415px;
    overflow: hidden;
    overflow-y: visible;
    border-bottom: 2px solid #d1dae3
}

.white-popup {
    position: relative;
    background: #FFF;
    width: auto;
    max-width: 811px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 10px #c2cdd8;
}

.white-popup figure {
    max-width: 80%;
    width: 100%;
    position: relative;
    float: left;
    margin: 0;
    width: 450px;
    height: 532px;
}

.comments {
    max-width: 360px;
    width: 100%;
    float: left;
    padding: 35px 10px 20px 25px
}

.comment-item {
    background-color: white;
    border: 2px solid #f0f3f6;
    border-radius: 3px;
    padding: 10px;
    color: #607583;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    word-break: break-all;
}

.comments h2 {
    color: #8499a7;
    font-size: 24px;
    font-weight: 400;
}

.date {
    float: right
}

.name {
    float: left
}

.date,
.name {
    color: #95a7b3;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
}

.comment-body {
    overflow: hidden;
    max-width: 95%;
    transition: .5s
}

.comment-item {
    clear: both;
    margin: 0 0 6px
}

input[type="text"] {
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #f0f3f6;
    width: 95%;
    display: block;
    color: #95a7b3;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px 4px;
    outline: none;
    transition: .5s;
}

input[type="text"]:focus {
    border-bottom-color: #21b8c6;
    transition: .5s;
}

textarea {
    border: 2px solid #f0f3f6;
    width: 95%;
    display: block;
    color: #95a7b3;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 10px;
    resize: none;
    outline: none;
    border-radius: 3px;
    height: 50px;
    transition: .5s;
}

textarea:focus {
    border-color: #21b8c6
}

.white-popup figcaption {
    display: block;
    height: 60px;
    background: #f3f4f2
}

.white-popup figcaption .box div {
    width: 60px;
    height: 60px;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    background: #e0e5e9;
    margin-right: 8px;
    margin-top: -10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: .1s;
}

.white-popup figcaption .box div i {
    float: none;
    margin: 0
}

/*
.white-popup figcaption .box div.active {
    pointer-events: none
}
*/

.white-popup figcaption .box div.active:last-child {
    background: #d02828;
    margin-top: 0;
}

.white-popup figcaption .box div.active:first-child {
    background: #28d0ce;
    margin-top: 0;
}

.white-popup figcaption .box div.active:first-child i {
    background: url(../img/2.png) no-repeat;
    background-position: -34px 0;
}

.white-popup figcaption .box div.active:last-child i {
    background: url(../img/2.png) no-repeat;
}

.white-popup figcaption .box div.active i.sprite span {
    line-height: 15px;
    border: none;
}

.mfp-bg {
    opacity: 0.85 !important;
    background-color: #f0f3f6 !important;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 28px;
    outline: none;
    background: #21b8c6 url(../img/send.png) no-repeat center;
    cursor: pointer
}

button:focus {
    outline: none;
}

.white-popup button.mfp-close {
    background: url(../img/x.png) no-repeat center;
    font-size: 0;
}

.white-popup{
    align-self: center;
    justify-content: center;
    align-items: end;
    align-content: center;
}

.comments-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d1dae3;
    border-radius: 3px;
    height: 80%
}

.comments-area::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.comments-area::-webkit-scrollbar-thumb {
    background-color: #21b8c6;
    border-radius: 3px;
}

#popUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    display: none;
}

#searchPop{
    display: none;
    width: 300px;
    height: 130px;
    background: silver;
    position: absolute;
    top:30%;
    left: 50%;
    margin-left: -150px;
    padding: 25px
}

#close{
    position: absolute;
    right: 3px;
    top: 10px;
    line-height: 0;
    color: #21b8c6;
    font-size: 37px;
    font-weight: bold;
    cursor: pointer
}

#searchPop input{
    width: 100%;
    height: 30px;
}
#searchPop button{
    background-image: none;
    width: 60px;
    height: 30px;
    color: #fff;
}

.imago{position: absolute;top:0;}